.artLogo{
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    height: 48px;
    border-radius: 48px;

    box-shadow: 0 -150px 70px -120px #84FAB0 inset,
    0 -220px 70px -120px  #8FD3F4 inset;
    animation: background 50s infinite alternate;
}

@keyframes background {
    50% {
        box-shadow: 0 -140px 70px -120px #8FD3F4 inset,
        0 -210px 70px -120px #84FAB0 inset;
    }
}