.eventArticle-title{
    display: flex;
    align-items: flex-start;
    width: 100%;
    font-size: var(--h1-font-size);
    font-family: var(--font-family);
    font-weight: var(--font-weight-main);
    color: var(--primary);
    margin-bottom: 16px;
    padding-bottom: 16px;
    box-shadow: inset 0px -1px 0px var(--quaternary);
}

.eventArticle-image-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.eventArticle-image{
    box-sizing: border-box;
    object-fit: cover;
    height: var(--mobile-firstImg-height);
    border-radius: var(--main-border-radius);
    margin-bottom: 16px;
}

.eventArticle-description{
    display: flex;
    align-items: flex-start;
    width: 100%;
    font-size: var(--body-font-size);
    font-family: var(--font-family);
    color: var(--primary);
    margin-bottom: 16px;
}

.eventArticle-eventDetails{
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: var(--body-font-size);
    font-family: var(--font-family);
    color: var(--primary);
    margin-bottom: 16px;
}

.eventArticle-eventDetails-strong{
    font-size: var(--body-font-size);
    font-family: var(--font-family);
    font-weight: var(--font-weight-main);
    color: var(--primary);
    margin-right: 6px;
}

@media (min-width: 744px){
    .eventArticle-image{
        object-fit: contain;
        border-radius: 0px;
    }
}