.artistArticle-personPic{
    box-sizing: border-box;
    object-fit: cover;
    width: 100%;
    height: var(--mobile-firstImg-height);
    border-radius: var(--main-border-radius);
    margin-bottom: 16px;
}