.field-container{
    width: 100%;
    position: relative;
}

.field-container input{
    font-family: var(--font-family);
    font-size: var(--body-font-size);
    line-height: var(--body-line-height);
    color: var(--primary);

    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 0px 0px 44px;
    width: 100%;
    height: 48px;
    border-radius: 48px;
    background-color: var(--field-background);
    border: none;
}

.field-container input:focus{
    outline: none;
}

::placeholder{
    color: var(--placeholder);
}

.field-icon{
    position: absolute;
    z-index: 1;
    top: calc(50% - 10px);
    left: 16px;
    filter: invert(.4);
}
